

<!-- Header -->
<header id="header" class="alt">
    <a href="index.html" class="logo"><strong>Администратор</strong> <span> <em>@User.Identity.Name </em></span></a>


    <nav>      
        <a class="button small" asp-action="Logout" asp-controller="Account">Log out</a>
        <a href="#menu">Меню</a>
    </nav>
</header>

