<nav id="menu">
    <ul class="links">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li> <a asp-controller="Employee" asp-action="Index">Сотрудники</a></li>
        <li><a asp-controller="ProdSale" asp-action="Index">Продажи</a></li>
        <li><a asp-controller="Manufacture" asp-action="Index">Производство</a></li>
        <li><a asp-controller="FinishedProd" asp-action="Index">Продукция</a></li>
        <li> <a asp-controller="Raw" asp-action="Index">Сырье</a></li>
        <li><a asp-controller="RawPurchase" asp-action="Index">Закупка сырья</a></li>
        <li><a asp-controller="Ingridient" asp-action="Index">Ингридиенты</a></li>
        <li><a asp-controller="Post" asp-action="Index">Должности</a></li>
        <li><a asp-controller="Budget" asp-action="Index">Бюджет</a></li>
        <li><a asp-controller="Expense" asp-action="Index">Затраты</a></li>
    </ul>
  
</nav>