@model MySite.Domain.Entities.SignIn

@{
    Layout = "_Generic";
}


@section Header{
    <!-- Header -->
    <header id="header">
        <a class="logo"><strong> </strong> <span>Авторизация</span></a>
        @*<nav>
                <a href="#menu">Menu</a>
            </nav>*@
    </header>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body>


    <div class="inner">

        @*<h3>Авторизация</h3>
        <hr />*@
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger" style="color:red"></span>
                    </div>
                    <br>
                    @*<div class="form-group form-check">

                            <input type="checkbox" asp-for="RememberMe" id="demo-copy" name="demo-copy"/> @Html.DisplayNameFor(model => model.RememberMe)
                            <label for="demo-copy"></label>
                        </div>
                        <br>*@
                    <div class="form-group">
                        <input type="submit" value="log in" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <p>Click <a asp-action="Signup" asp-controller="Account">here</a> to sign up</p>
        </div>
    </div>


    <!-- Scripts -->
    @await Html.PartialAsync("_ScriptsPartial")

</body>
</html>
