@model Raw
@{
    Layout = "_Landing";
    string strTitle = "Сырье";
    ViewBag.Title = strTitle;
}


<div class="inner">

    @{
        if (TempData["Message"] != null)
        {
            <span style="color:red">@TempData["Message"] </span>
        }
        // TempData.Keep("Message");
    }
    <br />

    <div>
        <h2>@strTitle</h2>
        <div>
            <form asp-controller="Raw" asp-action="Edit" method="post" enctype="multipart/form-data">

                <input type="hidden" asp-for="IdRaw" />

                <div asp-validation-summary="All"></div>
                <div class="div-box">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="div-box">
                    <label asp-for="Unit"></label>
                    <select asp-for="Unit" class="form-control" asp-items="ViewBag.Unit">Name</select>
                    <span asp-validation-for="Unit"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Sum"></label>
                    <textarea asp-for="Sum"></textarea>
                    <span asp-validation-for="Sum"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Amount"></label>
                    <textarea asp-for="Amount"></textarea>
                    <span asp-validation-for="Amount"></span>
                </div>
                <br />

                <input type="submit" value="Сохранить" />
                <br />

            </form>
        </div>
    </div>

</div>






