@{
    Layout = "_Layout";

}

@section Header{
    <!-- Header -->
    <header id="header" class="alt">
        <a  class="logo"><strong>Закупщик</strong> <span> <em>@User.Identity.Name </em></span></a>


        <nav>
            <a class="button small" asp-action="Logout" asp-controller="Account">Log out</a>
            <a href="#menu">Меню</a>
        </nav>
    </header>
}

<section id="one" class="tiles">
    <article>
        <span class="image">
            <img src="~/images/pic06.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a asp-controller="Raw" asp-action="RList">Сырье</a></h3>
            @*<p>Feugiat amet tempus</p>*@
        </header>
    </article>
    <article>
        <span class="image">
            <img src="~/images/pic05.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a asp-controller="RawPurchase" asp-action="RPList">Закупка сырья</a></h3>
            @*<p>Ipsum dolor sit amet</p>*@
        </header>
    </article>
</section>

    <div>
        <sub>project by Zhanna Artyshova ПИ-2-18</sub>
    </div>